*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #035397;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}
header img{
    width: 50px;
}
.cuadrado, .triangulo, .circulo{
    margin: 25px auto;
    border: 1px solid #000;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    width: 90%;
    box-shadow: -1px 8px 9px 1px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 8px 9px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 8px 9px 1px rgba(0,0,0,0.75);
}
.cuadrado h2::before{
    content: "⬜";
    margin-right: 7px;
}
.circulo h2::before{
    content: "⚪";
}
.triangulo h2::before{
    content: "🔺";
}
.valores, .resultados{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 167px;
    padding: 10px 0px;
}
.triangulo .valores, .circulo .resultados{
    height: 235px;
}
.valores{
    border-bottom: 2px solid #001E6C;
}
section p{
    width: 230px;
    text-align: left;
    margin: 5px 0px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    margin: 5px 0;
}
input{
    height: 25px;
    width: 180px;
    margin-bottom: 10px;
    border-radius: 5px;
    outline: none;
    padding: 5px;
}
.resultado, .resultado1, .resultado2{
    width: 150px;
    height: 25px;
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}
button{
    background-color: #001E6C;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 5px;
}
footer{
    background-color: #5089C6;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}
footer span{
    color: #001E6C;
    font-weight: bold;
}
/* RESPONSIVO */
@media screen and (min-width:480px) {
    .circulo h2{
        margin-right: 17px;
    }
    .contenedor{
        display: flex;
        justify-content: space-around;
    }
    .valores{
        border-bottom: none;
    }
    .linea{
        width: 2px;
        height: auto;
        background-color: #001E6C;
    }
}
@media screen and (min-width:1024px) {
    header img{
        position: absolute;
        top: 11px;
        left: 100px;
    }
    .cuadrado, .triangulo, .circulo{
        max-width: 1000px;
        height: 290px;
    }
    .contenedor{
        height: 230px;
    }
}